<h1>Horde</h1>
<p>Scripting and managing of AI Agents</p>
<h1>Installation</h1>
<ul>
<li>Install Rust and Cargo following the instructions from: <a href="https://rustup.rs/">https://rustup.rs/</a></li>
<li>Clone the repository <code>git clone https://gitlab.com/shiveringocelot/horde.git</code></li>
<li>Pull the necessary dependencies with <code>git submodule init</code> and then <code>git submodule update</code></li>
<li>Install npm dependencies with <code>npm install</code></li>
<li>Run Horde with <code>bash run.sh</code> or <code>npm run tauri dev</code></li>
</ul>
<p>The first time you run Horde it will take a while because it needs to build, but later times Horde will launch quicker.</p>
<h1>Tabs</h1>
<p>The Horde application has its functionality divided in main tabs</p>
<h2>Home</h2>
<p>Here you configure your Horde app and what it needs to run. Horde needs a place on disk to save its information, so you must select a Project when you first start. When it starts, if it does not exist, horde generates a special folder inside the project called .horde where it saves everything, and the rest of the files are manipulable by the agents.</p>
<p><img src="screenshots/home.png" alt=""></p>
<h2>Chats</h2>
<p>After using Horde for a while you will have many chats with many different agents. The chat list allows you to filter messages by name using the search field at the top left, and also allows you to view the chats you have with a specific agent using the field at the top right.</p>
<p><img src="screenshots/chats.png" alt=""></p>
<h2>Agents</h2>
<p>Here you have all your bots. A bot has: a name, a prompt, and a base script. The prompt tells the agent what personality to take when responding in the chat or when doing their job (Some scripts don&#39;t use the prompt). The Script is the &quot;brain&quot; of the agent, it is the sequence of steps that an agent follows when responding to each response.</p>
<p><img src="screenshots/agents.png" alt=""></p>
<h2>Tasks, Scripts, Plugins</h2>
<p>TODO. This is the most powerful part of the app but is not well documented.</p>
<p>The &quot;Chat&quot; script is a simple loop that responds to messages directly, but more complex scripts can guide the agent through a complex process. All agents need a base script to function.</p>
<p><img src="screenshots/script.png" alt="">
<img src="screenshots/task.png" alt=""></p>
