<script setup lang="ts">
import * as glm from "../glm";
import nav from "../nav";

import * as scheduler from "../scheduler";

import MessageContent from "./MessageContent.vue";
import DebugBox from "../widgets/DebugBox.vue";

import { Event, Message, Chat } from "../models/Chat";
import Agent from "../models/Agent";
import Task from "../models/Task";

import {
  ref, computed, watch,
  onMounted, onUnmounted
} from "vue";

const chat = Chat.getReactive(() => nav.params.chatId);



// Start chat process if not started
watch(chat, chat => {
  if (chat.id == null) return;

  if (chat.taskId != null) {
    let status = scheduler.getTaskStatus({
      id: chat.taskId,
    });

    if (status == "none") {
      Task.get(chat.taskId).then(scheduler.start);
    }
  }
})


// Message Computation

const messages = computed(() => {
  console.log("Compute messages");
  let messages = [];

  let head = chat.value.head;
  while (head != null) {
    let base = chat.value.events[head];

    let msg = {
      type: base.type || "event",
      index: head,
      content: base.content,
      sender: base.sender,
      format: base.format,
      cssClass () {
        let classes = [];
        if (this.type == "message") {
          classes.push("message");
          if (this.sender == "agent")
            classes.push('highlight');
        } else if (this.type == "event") {
          classes.push("message", "event");
        }
        return classes;
      },
    };

    messages.push(msg);
    head = base.previous;
  }

  console.log("messages", messages);

  messages.reverse();
  return messages;
});



const userInput = ref("Hola?");
const promptInput = ref("");

const editName = ref(false);

const status = ref("none");
var statusInterval;

onMounted(() => {
  if (chat.value.taskId == null) return;

  statusInterval = setInterval(() => {
    status.value = scheduler.getTaskStatus({
      id: chat.value.taskId,
    })
  }, 1000 / 5);
});

onUnmounted(() => {
  if (statusInterval != null) {
    clearInterval(statusInterval);
  }
});




async function addMessage (from, content, addGlm=true) {
  console.log("addMessage.vue", from, content);
  let msg = chat.value.addMessage(from, content);
  msg.format = "md";

  addGlm = false;
  addGlm &&= !chat.value.taskId;
  if (addGlm) glm.addMessage(from, content);
  return msg;
}

async function send (message) {
  if (chat.value.taskId != null) {
    scheduler.dispatchEvent("chat", chat.value.taskId, message);

  } else {
    let msg = addMessage('agent', '', false);
    msg.waiting = true;

    await glm.send(delta => {
      msg.content += delta
    });

    msg.waiting = false;
  }
}

async function selectChoice (index, choice) {
  let msg = chat.value.events[index];
  msg.content = "Selected: " + choice;
  msg.format = null;

  send(choice);
}

async function cancel (message) {
  await glm.cancel();
}



function log (value) {
  function logStr (val) {
    if (typeof val == "string" || typeof val == "number") {
      return String(val);
    } else {
      return JSON.stringify(val);
    }
  }

  addMessage('log', logStr(value));
}

function keyPressed (event) {
  if (event.key == "Enter" && !event.shiftKey) {
    event.preventDefault();

    let message = userInput.value;
    userInput.value = "";

    addMessage('user', message);
    send(message);
  }
}

function display (message) {
  return message.from != "system" || message.display;
}

function highlight (message) {
  return message.from == 'agent' || message.from == 'system';
}

async function deleteChat () {
  // if (app.confirm("Are you sure you want to delete the chat?"))
  console.log("delete chat", chat.value.id);
  Chat.delete(chat.value.id);
  nav.go("");
}
</script>

<template>
  <div style="width: 100%;">
    <header>
      <div></div>
      <div style="display:flex;align-items:center;">
        <input v-if="editName" v-model="chat.name">
        <h2 v-else>{{chat.name}}</h2>
        <a @click="editName=!editName">edit</a>
      </div>
      <div class="options">
        <span>{{status}}</span>
        <i :class="[
          'fa-solid',
          status == 'running' ?
            'fa-play' :
          status == 'waiting' ?
            'fa-hourglass' :
            'fa-pause'
        ]"></i>
        <a @click="nav.go('agent', {agentId: chat.agent.id})">
          {{chat.agent ? chat.agent.name : "No Agent"}}
        </a>
        <a
          v-if="chat.taskId"
          @click="nav.go('task', {taskId: chat.taskId})"
          href="#">
          Task {{chat.taskId}}
        </a>
        <a @click="deleteChat()">delete</a>
      </div>
    </header>

    <div
      v-for="message in messages"
      class="message"
      :class="message.cssClass()"
    >
      <template v-if="display(message)">
        <div class="sender" v-if="message.type == 'message'">{{message.sender}}</div>
        <div class="content">
          <div v-if="message.format == 'choice'">
            <button v-for="choice in message.content" @click="selectChoice(message.index, choice)">
              {{choice}}
            </button>
          </div>
          <message-content v-else :value="message.content" :format="message.format"/>
          <span v-if="message.waiting">...</span>
        </div>
      </template>
      <div class="options" hidden>
        <a v-if="display(message)">Edit</a>

        <a v-if="message.waiting" @click="cancel(message)">Cancel</a>

        <a v-if="message.from=='system'"
        @click="message.display=!message.display">
        Show prompt
        </a>
      </div>
    </div>

    <div>
      <div style="padding: 0.3em;">
        <textarea
          v-model="userInput"
          placeholder="Send a Message"
          @keydown="keyPressed($event)"
        ></textarea>
      </div>
      <div class="options">
        <span>Tags</span>
        <input placeholder="Enter tags">
      </div>
    </div>
  </div>
</template>

<style scoped>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .message {
    width: 100%;
    padding: 0.5em 1em;
    text-align: left;
    box-sizing: border-box;
  }

  .message .content {
    padding-left: 0.5em;
    text-align: left;
  }

  .sender {
    color: #888;
    margin-bottom: 0.1em;
  }

  .message.highlight,
  .message.event {
    background-color: #444654;
  }

  .message.event {
    border: 1px solid #545664;
  }

  .options {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .options > * {
    padding: 0 0.5em;
  }

  textarea {
    box-sizing: border-box;
    resize: vertical;
  }
</style>
