<script setup lang="ts">
  import { ref, computed } from "vue";

  import fs from "fs";

  import nav from "../nav";
  import * as app from "../app";
  import * as config from "../config";

  // ugly ass vue hack
  // wtf vue, you disappoint me....
  const refreshKey = ref(0);

  const projectPath = computed({
    get () {
      refreshKey.value;
      return config.getProjectPath();
    },
    set (path) {
      refreshKey.value++;
      config.setProjectPath(path);
    },
  });

  config.onProjectPathChange(() => {
    refreshKey.value++;
  });

  async function changeProject () {
    let path = await app.inputFile({
      directory: true,
    });

    /*
    // TODO
    if !path.exists:
      Enter another
      Create?
    */

    projectPath.value = path;
  }

  const token = ref("");
  config.watch('openai-token', val => {
    token.value = val;
  });

  function tokenDisplay () {
    if (!token.value) return "";
    return token.value.slice(0, 5) + "..." + token.value.slice(-3);
  }

  async function inputToken () {
    let tk = await app.input("Enter OpenAI Token");
    if (tk != null) {
      config.set('openai-token', tk);
      app.alert("Changed OpenAI Token");
    }
  }
</script>

<template>
  <h1>Horde</h1>
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
  ">
    <div v-if="!projectPath" style="
      background-color: darkred;
      color: white;
      padding: 1em;
      border: 1px solid red;
    ">
      No Project Selected!
      <br/>
      <button @click="changeProject()">Open Project</button>
    </div>

    <div v-else style="
      display: flex;
      flex-direction: column;
      align-items: center;
    ">
      <span>
        <strong>Project:</strong>
        {{projectPath}}
      </span>
      <button @click="nav.go('newchat', {})">Start Chatting</button>
      <button v-if="projectPath != null" @click="changeProject()">Change Project</button>
      <div style="height: 2em;"></div>
      <div>OpenAI Token: {{ tokenDisplay() }}</div>
      <button @click="inputToken()">Set OpenAI Token</button>
    </div>
  </div>
</template>

<style type="text/css" scoped>
  button {
    width: 15em;
    margin: 0.5em;
  }
</style>
