<script setup lang="ts">
  import { marked } from "marked";
  marked.use({
    renderer: {
      code (code, infostring, escaped) {
        let langElem = infostring ? 
          `<div class="language">${infostring}</div>` : "";

        return `<div class="code">
          ${langElem}
          <div class="content">${code}</div>
        </div>`;
      }
    }
  });
  const props = defineProps(['value', 'format']);
</script>

<template>
  <div class="message-content">
    <div v-if="format == 'md'" v-html="marked.parse(value)"></div>
    <div v-else class="format-txt">{{value}}</div>
  </div>
</template>

<style>
  .message-content {
    overflow-x: hidden;
    word-break: break-word;
    line-height: initial;
  }

  .format-txt {
    white-space: pre-line;
  }

  .message-content .code {
    background-color: #2a2a2a;
    color: white;
    border-radius: 5px;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
  }

  .message-content .code .language {
    padding: 0.2em 0.5em;
    background-color: #353535;
    display: inline-block;
    margin: 0.6em 0.8em;
    font-weight: bold;
    color: #aaa;
    border-radius: 5px;
  }

  .message-content .code .content {
    white-space: pre;
    font-family: monospace;
    overflow-x: auto;
    padding: 0.8em;
    padding-top: 0;

    user-select: contain;
    -webkit-user-select: text;
  }
</style>
