<script setup lang="ts">
  import { ref, watch, computed } from "vue";

  import SelectInput from "../widgets/SelectInput.vue"
  import Chat from "../models/Chat";
  import Script from "../models/Script";
  import Task from "../models/Task";

  import * as app from "../app";
  import nav from "../nav";

  const agentId = ref(null);
  const scriptId = ref(null);
  const name = ref(null);

  async function create () {
    if (scriptId.value == null && agentId.value == null) {
      app.alert("Select at least a script or an agent");
      return;
    }

    let chat = await Chat.create();
    if (scriptId.value != null) {
      let task = await Task.create();
      task.scriptId = scriptId.value;

      console.log("chat id", chat.id);
      task.chatId = chat.id;
      console.log("chat's task", task);

      chat.taskId = task.id;
    } else {
      app.alert("Can't chat with agents yet");
      return;
    }

    if (name.value) {
      chat.name = name.value;
    }

    nav.go('chat', {chatId: chat.id});
  }
</script>

<template>
  <h1>New Chat</h1>
  <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
  ">
    <div>Name</div>
    <input v-model="name">
    <div>Agent</div>
    <select-input :options="[]"/>
    <div>Script</div>
    <select-input v-model="scriptId" :options="Script.listReactive().map(s=>s.id)"/>
    <button @click="create()">Start Chatting</button>
  </div>
</template>

<style type="text/css" scoped>
  button {
    width: 15em;
    margin: 0.5em;
  }
</style>
