<script setup lang="ts">
  import { emit } from '@tauri-apps/api/event'
  import { invoke } from "@tauri-apps/api/tauri";
  import { ref, computed, reactive } from "vue";
  import nav from "../nav";

  import Agent from "../models/Agent";
  import Chat from "../models/Chat";
  import Script from "../models/Script";
  import Task from "../models/Task";


  function isChatNav (id) {
    return nav.name == 'chat' && nav.params.chatId == id;
  }

  function isAgentNav (id) {
    return nav.name == 'agent' && nav.params.agentId == id;
  }

  const agents = reactive(Agent.list);

  const chatOpen = ref(false);
  const agentOpen = ref(false);

  function openAgent (id) {
    console.log("opening agent", id);
    if (id != null) {
      nav.go('agent', {agentId: id});
    } else {
      let agent = new Agent();
      nav.go('agent', {agentId: agent.id});
    }
  }

  async function newTask () {
    let task = await Task.create();
    nav.go('task', {taskId: task.id});
  }

  async function newScript () {
    let script = await Script.create();
    nav.go('board', {scriptId: script.id});
  }

  function saveAll () {
    emit("save");
  }

  function openDebug () {
    invoke("open_debug", {});
  }

  const groupOpen = ref({});
  function groupToggle (key) {
    groupOpen.value[key] = !groupOpen.value[key];
  }

  const scriptList = computed(() => Script.idList());
</script>

<template>
  <div id="sidebar">
    <div class="head">
    </div>

    <div class="main group">
      <div
        class="entry hover-filled"
        @click="nav.go('')"
      >
        Home
      </div>

      <div
        class="entry hover-filled"
        @click="nav.go('chats')"
      >
        Chats
      </div>

      <div
        class="entry hover-filled"
        :class="{filled: agentOpen}"
        @click="nav.go('agents')"
      >
        Agents
      </div>

      <div class="entry hover-filled" @click="groupToggle('tasks')">
        Tasks
      </div>
      <div class="group" v-if="groupOpen.tasks">
        <div class="entry bordered hover-filled"
          v-for="task in Task.listReactive()"
          :class="{filled: nav.name == 'task' && nav.taskId == task.id}"
          @click="nav.go('task', {taskId: task.id})">
          Task {{task.id}}
        </div>
        <div class="entry bordered hover-filled" @click="newTask()">
          + Create Task
        </div>
      </div>

      <div class="entry hover-filled"
        :class="{filled: nav.name == 'script'}"
        @click="groupToggle('scripts')"
      >
        Scripts
      </div>
      <div class="group" v-if="groupOpen.scripts">
        <div v-for="script in Script.listReactive()"
          class="entry bordered hover-filled"
          :class="{filled: nav.name == 'script' && nav.scriptId == script.id}"
          @click="nav.go('board', {scriptId: script.id})"
        >
          {{ script.title }}
        </div>
        <div 
          class="entry bordered hover-filled"
          @click="newScript()">
          + Create
        </div>
      </div>

      

      <div
        class="entry hover-filled"
        @click="nav.go('plugin', {})"
      >
        Plugins
      </div>
    </div>

    <div class="foot group">
      <span v-if="nav.name" style="font-family: monospace; font-size: 80%; overflow-x: auto; white-space: nowrap;">
        {{nav.name}} {{JSON.stringify(nav.params)}}
      </span>
      <button @click="userActions.undo()">Undo</button>
      <button @click="saveAll()">Save</button>
      <button @click="openDebug()">Debug</button>
    </div>
  </div>
</template>

<style scoped>
  #sidebar {
    flex-direction: column;
    display: flex;
    height: 100%;
    background-color: #202123;
    min-width: 10em;
  }

  .group {
    display: flex;
    flex-direction: column;
    margin: 0.4em;
  }

  .group .group {
    margin-right: 0;
  }

  .main {
    height: 100%;
    overflow-y: auto;
  }

  .entry {
    padding: 0.4em 0.6em;
    /*border-radius: 4px;*/

    -webkit-user-select: none;
    user-select: none;

    cursor: default;
  }

  .entry.filled, .entry.hover-filled:hover {
    /*background-color: #343541;*/
    background: linear-gradient(#3340 60%, #334);
  }

  .entry.bordered, .entry.hover-bordered:hover {
    border-bottom: 1px solid #fff4;
  }
</style>