<script setup lang="ts">
import { ref, computed } from 'vue';

import EditableSpan from "../widgets/EditableSpan.vue"
import SelectInput from "../widgets/SelectInput.vue"

import nav from "../nav";
import * as app from "../app";
import * as scheduler from "../scheduler";

import Task from "../models/Task";
import Agent from "../models/Agent";
import Script from "../models/Script";
import Chat from "../models/Chat";

const task = Task.getReactive(() => nav.params.taskId);

function execute () {
  scheduler.start(task.value);
}
function cancel () {
  scheduler.cancel(task.value);
}
async function _delete () {
  if (await app.confirm(`Delete Task ${task.value.title}?`)) {
    Task.delete(task.value.id);

    if (task.value.scriptId != null) {
      nav.go('board', {scriptId: task.value.scriptId});
    }
  }
}

const addingSlot = ref({
  key: "key",
  value: "Value.",
});

const editingSlots = ref({});

function addSlot() {
  task.value.slots.push({
    key: addingSlot.value.key,
    value: addingSlot.value.value,
  });
}
function editSlot(key) {
  editingSlots.value[key] = !editingSlots.value[key];
}
function deleteSlot(key) {
  let index = task.value.slots.findIndex(v => v.key==key);
  if (index >= 0) {
    task.value.slots.splice(index, 1);
  }
}

const taskScript = Script.getReactive(() => task.scriptId);

const agents = Agent.list;
const currentStep = computed(() => {
  let index = task.value.currentStep;
  if (index == null) {
    return 'Stopped';
  } else {
    let step = taskScript.value.steps[index];
    if (!step) {
      return `[Step #${index}]`
    } else {
      return step.title;
    }
  }
});

const logs = computed(() => {
  return task.value.logs.map(log => {
    if (typeof log == "string") {
      let match = log.match(/^\s*\[(.+?)\]\s*(.*)$/);
      if (match) {
        return {
          tag: match[1].toLowerCase(),
          message: match[2]
        };
      } else {
        return {
          tag: "",
          message: log,
        };
      }
    } else {
      return log;
    }
  })
})
</script>

<template>
  <div style="
    display: flex;
    flex-direction: column;
    height: 100%;
  ">
    <h1><editable-span v-model="task.title"/></h1>

    <div class="container">
      <div class="panel">
        <div>
          <div style="
            display: flex;
            justify-content: space-around;
          ">
            <!-- TODO: Make into icons.. with an icon widget pls -->
            <button @click="execute()">Execute</button>
            <button @click="cancel()">Cancel</button>
            <button @click="_delete()">Delete</button>
          </div>

          <div class="data-row">
            <div class="data-label">Agent</div>
            <div class="data-value">
              <select-input v-model="task.agentId" :options="Agent.optionsReactive().value"/>
            </div>
          </div>

          <div class="data-row">
            <div class="data-label">Script</div>
            <div class="data-value">
              <select v-model="task.scriptId">
                <option v-for="script in Script.listReactive()" :value="script.id">{{script.title}}</option>
              </select>
            </div>
          </div>

          <div class="data-row">
            <div class="data-label">Chat</div>
            <div class="data-value">
              <a v-if="task.chatId != null"  href="#"
                @click="nav.go('chat', {chatId: task.chatId})">
                chats/{{task.chatId}}
              </a>
              <span v-else>None <a href="#" @click="task.createChat()">Create Chat</a></span>
            </div>
          </div>

          <div class="data-row">
            <div class="data-label">Step</div>
            <div class="data-value">{{currentStep}}</div>
          </div>
        </div>

        <div style="overflow-x: auto;">
          <h3>Slots</h3>
          <table class="slots">
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>

            <tr v-for="slot in task.slots">
              <th>{{slot.key}}</th>
              <td v-if="editingSlots[slot.key]">
                <textarea v-model="slot.value"></textarea>
              </td>
              <td v-else>
                <div class="value">{{slot.value}}</div>
              </td>
              <td style="display: flex; flex-direction: row;">
                <button @click="editSlot(slot.key)">
                  <icon icon="pencil"/>
                </button>
                <button @click="deleteSlot(slot.key)">
                  <icon icon="trash"/>
                </button>
              </td>
            </tr>

            <tr>
              <td><input v-model="addingSlot.key"></td>
              <td><input v-model="addingSlot.value"></td>
              <td>
                <button @click="addSlot()">+ Add Slot</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="panel">
        <h3>Logs</h3>
        <div class="logs">
          <div v-for="log in logs">
            <span class="tag" v-if="log.tag">{{log.tag}}</span>
            <span class="content">{{log.message}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<style type="text/css" scoped>
  .panel {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 50%;
  }

  .container {
    align-items: start;
    display: flex;
    flex-direction: row;

    height: 0;
    flex-grow: 1;
  }

  .data-row {
    display: flex;
    align-items: center;
  }

  .data-label {
    max-width: 30%;
    flex-grow: 1;
    text-align: right;
    padding-right: 0.5em;
    font-weight: bold;
  }

  .data-value {
    flex-grow: 1;
    text-align: left;
  }



  .slots {
    overflow-x: auto;
    width: 100%;
  }

  .slots td, .slots th {
    padding: 0;
    vertical-align: top;
  }

  .slots .value {
    text-align: left;
    width: 30em;
    overflow-x: auto;
    font-size: 80%;

    white-space: pre-wrap;
    line-height: 110%;
  }


  .logs {
    text-align: left;
    font-size: 80%;
    border-collapse: collapse;
    line-height: 100%;
  }

  .logs > div {
    padding: 0.15em 0.3em;
    padding-bottom: 0.5em;
  }

  .logs .content {
    white-space: pre-wrap;
  }
  .logs .tag {
    display: inline;
    white-space: pre-wrap;
    padding: 0 0.3em;
    padding-top: 0.3em;
    margin: 0 0.2em;
    background: white;
    color: black;
    border-radius: 4px;
  }
</style>