<script setup lang="ts">
  import Sidebar from "./components/Sidebar.vue";
  import AlertBox from "./components/AlertBox.vue";

  import Index from "./components/Index.vue";

  import Chat from "./components/Chat.vue";
  import NewChat from "./components/NewChat.vue";
  import ChatList from "./components/ChatList.vue";

  import AgentList from "./components/AgentList.vue";

  import Task from "./components/Task.vue";
  import Board from "./components/Board.vue";
  import Plugin from "./components/Plugin.vue";

  import nav from "./nav";

  import { shallowRef } from "vue";

  function isNav (name) { return nav.name == name; }

  const contentComponent = shallowRef(Index);

  nav.on('change', nav => {
    switch (nav.name) {

    case 'chat': contentComponent.value = Chat; break;
    case 'newchat': contentComponent.value = NewChat; break;
    case 'chats': contentComponent.value = ChatList; break;

    case 'agents': contentComponent.value = AgentList; break;

    case 'task': contentComponent.value = Task; break;
    case 'board': contentComponent.value = Board; break;
    case 'plugin': contentComponent.value = Plugin; break;

    default: contentComponent.value = Index;
    }
  });
</script>

<template>
  <Sidebar/>

  <div class="app-content">
    <component :is="contentComponent" />
  </div>

  <AlertBox/>
</template>

<style scoped>
</style>
