<script setup lang="ts">
  const props = defineProps(['value', 'width']);

  function stringify (value) {
    let json = JSON.stringify(value, "\n", "  ");

    if (
      value instanceof Object &&
      ![Array, Object].includes(value.constructor)
    ) {
      return `[${value.constructor.name}] ${json}`;
    } else {
      return json;
    }
  }
</script>

<template>
  <div class="debugbox">
    {{stringify(value)}}

  </div>
</template>

<style>
  .debugbox {
    width: 10em;
    overflow-x: visible;
    font-size: 0.8em;
    font-family: monospace;
    white-space: pre;
    text-align: left;
  }
</style>
