<script setup lang="ts">
  import { ref, onMounted, onUnmounted } from "vue";

  const emit = defineEmits(['update:modelValue'])
  const props = defineProps(['modelValue', 'options']);
  const editing = ref(false);

  const mainElem = ref(null);

  /*
  var windowClick = event => {
    if (!mainElem.value.contains(event.target) && editing.value) {
      editing.value = false;
    }
  }

  onMounted(() => {
    window.addEventListener("click", windowClick);
  });

  onUnmounted(() => {
    window.removeEventListener("click", windowClick);
  });
  */

  function setValue (val) {
    emit('update:modelValue', val);
  }

  function enterPressed () {
    console.log("enter");
    setValue(mainElem.value.textContent);
    editing.value = false;
  }

  function focusIn () {
    //mainElem.value.select();

    requestAnimationFrame(() => {
      document.execCommand('selectAll', false, null);
    });
  }

  function focusOut () {
    mainElem.value.textContent = props.modelValue;
    editing.value = false;
  }

  function clicked () {
    console.log("clicked")
    if (!editing.value) {
      editing.value = true;
      requestAnimationFrame(() => mainElem.value.focus());
    } else {
      editing.value = false;
    }
  }
</script>

<template>
  <span>
    <span
      ref="mainElem"
      :contentEditable="editing"
      :style="{display: editing}"
      @keydown.enter="enterPressed()"
      @keydown.escape="focusOut()"
      @focusin="focusIn()"
      @focusout="focusOut()">
      {{modelValue}}
    </span>
    <!--span v-if="!editing">{{modelValue}}</span-->
    <a href="#" @click="clicked()">
      <i class="fa-solid fa-pencil" :class="editing ? 'fa-check' : 'fa-pencil'"/>
    </a>
  </span>
</template>

<style>
</style>
